/* Basic styles */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.filter-container {
  position: relative;
  margin-right: 200px;
  padding-bottom: 60px;
}

.filter-button {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #828181;
}

.filter-button i {
  padding-right: 10px;
}

.filter-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: none;
  z-index: 2000;
}

.filter-dropdown.show {
  display: block;
}

.filter-dropdown label {
  display: block;
  margin-bottom: 10px;
}

.filter-dropdown p{
  background-color: #D9D9D9;
  margin: 0;
  padding: 4px 8px;
  margin-bottom: 2px;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 10px;
}

.dropdown-item label {
  width: 48%;
}
